.dates-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: black;
    margin-top: 8rem;
}

.dates-text {
    position: relative;
    top: 100px;
    left: -300px;
    z-index: 1;
    height: 100px;
    width: 500px;
  }  

  .datesContainer {
    top: -30px;
    position: relative;
    width: 100px;
    height: 100px;
  }

.dates-text-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom:50px;
    width: 100px;
    height: 100px;
    left: -250px;
    top: -30px;
}

.dates-content-container {
    position: relative;
    left: 300px;
    top: -100px;
    background-color: lightgrey;
    width: 500px;
    height: 680px;
    border-radius: 10px;
    z-index: 1;
}

.dates-class-button {
  color: white;
  background-color: #b959ea;
  position: relative;
  border-radius: 10px;
  height: 50px;
  width: 126px;
  left: 103px;
  top: 35px;
  border: none;
  }

  .dates-class-button:hover {
    background-color: #af26f5;
  }

  .dates-class-button:active {
    background-color: #af26f5;
    border: none;
  }

  .inputLabel {
    font-family: "Poppins";
    font-size: 25px;
  }

  .input {
      font-family: "Poppins";
      font-size: 25px;
      border-radius: 10px;
      background-color: "Gainsboro";
      height: 50px;
      width: 300px;
  }

  .bx--form-item {
      position: relative;
      left: 100px;
      top: 32px;
  }

  .bx--label {
      font-size: 1.75rem;
      color: black;
      padding: 15px;
  }

  .contentContainer {
    position: relative;
    left: 100px;
    top: 37px;
  }
  