.calendar-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: black;
    margin-top: 8rem;
}

.calendar-text {
    position: relative;
    top: 100px;
    left: -300px;
    width: 400px;
  }  

  .calendarContainer {
    top: -30px;
    position: relative;
  }

.calendar-text-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom:50px;
    z-index: 1;
}

.connectButton {
    color: white !important;
    background-color: #b959ea !important;
    position: relative;
    border-radius: 10px;
    left: -200px;
    top: 200px;
    height: 42px;
    width: 134px;
    border: none !important;
}

.connectButton:hover {
  background-color: #af26f5 !important;
}

.connectButton:active {
  background-color: #af26f5 !important;
  border: none !important;
}
