.main-container {
  background-color: #ffe633;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 110;
}

.home-navbar {
  justify-content: flex-end;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.home-page-circle-1 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #FFD583;
  bottom:10vw;
  left: -10vw;
  z-index: 100;
}

.home-page-circle-2 {
  position: absolute;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: #AFE7E7;
  bottom:-15vw;
  left: 20vw;
  z-index: 100;
}

.home-page-circle-3 {
  position: absolute;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background-color: #C5FB7F;
  top:-25vw;
  right: -15vw;
  z-index: 111;
}